/* css初始化start */
body{
	margin: 0;
}

ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearfix:after{
	content:".";display:block;height:0;clear:both;visibility:hidden
}

.clearfix{
	*+height:1%;
}
/* css初始化start */

/* 项目公共样式start */
body{
	font-size: 1em;
	font-family: Microsoft YaHei;
	color: #e6e6e6;
	background-color: #272822;
}

.w{
	width: 64em;
}

a{
	text-decoration: none;
	color: #e6e6e6;
}

a:hover{
	color: #a3a3a3;
}
/* 项目公共样式end */