/*导航栏start*/
.mask{
	width: 100%;
	height: 100%;	
	position: absolute;
}

.mask img{
	width: 100%;
}

nav{
	background-color: rgba(0, 0, 0, .5);
	line-height: 2.25em;
	padding: 0.5em 0;
}

nav>ul{
	margin: 0 auto;
	padding: 0 1em;
}

nav>ul>li{
	float: left;
	margin-right: 2em;
}

nav img{
	display: block;
	height: 2.25em;
}

nav .search{
	margin-right: 5em;
}
/*导航栏end*/