/*导航栏start*/
nav{
	background-color: rgba(0, 0, 0, .4);
	height: 30px;
	line-height: 30px;
	padding: 10px;
}
nav ul{
	margin: 0 auto;
	padding: 0 20px;
}
nav ul li{
	float: left;
	margin-right: 20px;
	list-style: none;
}
nav ul li img{
	display: block;
}
/*导航栏end*/